CompileFlags:
  Add:
    - -Iinclude
    - -std=c++17


enum class CommandType {
	ADD_FILE,
	RECEIVE_CHUNK,
	SEND_CHUNK,
	STORE_CHUNK,
	DELETE_CHUNK,
	REPLICATE_CHUNK,
	UNKNOWN,
	HEARTBEAT, 
};

struct Command {
	CommandType cmdType;
	std::string senderType; //node
	std::string senderAddress; //ip
	int senderPort;
	nlohmann::json parameters;
};




